@import url("https://s.metamuffin.org/static/font-ubuntu/include.css");

:root {
  --bg1: #090909;
  --bg2: #141414;
  --ac1: #b575ff;
  --ac2: #ff83fd;
  --ac3: #ff82b2;
}

img[align=left] { 
  border-radius: 1em;
  width: 7em;
  height: 7em;
  display: block;
}

body {
  margin: 3em;
  background-color: var(--bg1);
}

nav {
  margin: 1em 1em 1em 9em;
  background-color: var(--bg2);
  padding: 1em;
  border: 0px solid transparent;
  border-radius: 1em;
}
nav a {
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 0.5em;
  text-decoration: none;
  color: #dfe5f3;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--ac2), var(--ac2));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.15s linear;
  font-style: normal;
}
nav a:hover {
  color: #dfe5f3;
  background-color: #ffffff10;
  background-size: 0 2px, 100% 2px;
}

h1 { font-size: xx-large }
h2 { font-size: x-large }
h3 { font-size: large }
h4 { font-size: medium }

p,h1,h2,h3,h4,h5,h6,li,summary { font-family: "Ubuntu", sans-serif; }
h1,h2 { color: var(--ac1) }
h3 { color: var(--ac2); margin-left: 1em }
h4 { color: var(--ac3); margin-left: 2em }
p,li,summary { color: white; margin-left: 3em }
a { color: var(--ac2); font-style: italic; text-decoration: underline }
a:hover { color: var(--ac3) }
hr { border: 1px solid grey }
summary { font-size: large; }

math { color:white }

pre,code {
  color: #eeeeee;
  font-family: monospace;
  background-color: black;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 0.2em;
}
pre { margin-left: 4em; margin-right: 4em; overflow-y: auto; }

input[type=submit] {
  background-color: black;
  color: white;
  border-radius: 1em;
  padding: 0.5em;
  border: 1px solid white;
  margin-left: 4em;
}


.status {
  display: inline-block;
  padding: 0.1em;
  font-size: small;
  font-variant: small-caps;
  color: black;
  border-radius: 5px;
  margin-left: 0.2em;
  margin-right: 0.3em;
}

.status-unknown { background-color: #4b4b4b; }
.status-planned { background-color: #6d5dff; }
.status-developing { background-color: #5dfff1; }
.status-paused-working { background-color: #53b11d; }
.status-paused-unfinished { background-color: #d6d44b; }
.status-maintained { background-color: #95ff63; }
.status-abandoned-working { background-color: #ff9854; }
.status-abandoned-unfinished { background-color: #ff6854; }

.featured {
  background-color: var(--bg2);
  border-radius: 1em;
  padding: 0.1em;
}
